.funkoImage {
    width: 284px;
    height: 201px;
    margin-top: 20px;
}
.detail-product {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .detail-product {
        display: block;
    }
}

#more-info {
    display: flex;
    margin-top: 15px;
}

.buy {
    margin-top: 20px;
}

.buy a {
    color: white;
}