.product {
    height: 350px;
    width: 300px;
    text-align: center;
    margin: 20px;
    box-shadow: 0px 0px 10px 0px #feb826;;
}

.product-name {
    color:#feb826;
    font-size: 20px;
    margin-bottom: 20px;
}

.product-image {
    height: 200px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-price {
    font-size: 18px;
    margin-top: 20px;
}
.product-detail {
    font-size: 14px;
}

a .navbar-item {
    color: red;
}