.navbar {
    padding-top: 5px;
    padding-bottom: 5px;
}
.name {
    color:#feb826;
    font-size: 28px;
    margin-left: 5px;
    margin-top: 8px;
}
.mainLogo {
    width: 43px;
    height: 57px;
}
.navbar-item img {
    margin-top: 5px;
}
div .navbar-menu .navbar-item :hover{
    background-color:#feb826;
    color: white;
}
.navbar-item a {
    color: white;
}
.nav-active {
    font-weight: bold;
}

.navbar-item {
    background-color: #00D1B2;
}

.navbar-item #cartWidget {
    width: 30px;
}