.icons {
    display: flex;
    justify-content: center;
}
.minus {
    margin-top: 15px;
    font-size: 30px;
    padding-right: 80px;
}
.number {
    font-size: 20px;
    padding-bottom: 0px;
}
.plus {
    margin-top: 15px;
    font-size: 30px;
    padding-left: 80px;
}
.addItem {
    background-color: lightblue;
    border-color: lightblue;
    border-radius: 50px;
    font-size: 20px;
    padding: 20px;
    margin-bottom: 50px;
}